<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,700;0,900;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,700;0,900;1,700;1,900&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <header class="bg-dark1">
      <div class="container-lg">
        <nav class="navbar sticky-md-top navbar-expand-lg navbar-light">
          <a class="navbar-brand d-md-none d-block" href="#">
            <img class="w-24 h-24" src="./assets/images/logo2.svg" alt="logo2">
          </a>
          <a class="navbar-brand d-md-block d-none" href="#">
            <img class="w-174 h-42" src="./assets/images/logo.svg" alt="logo">
          </a>
          <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="material-icons text-primary">
                drag_handle
              </span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav align-items-center">
              <li class="nav-item text-white">
                <a class="nav-link text-white fs-18 lh-26" aria-current="page" href="index.html">首頁</a>
              </li>
              <li class="nav-item ms-lg-9">
                <a class="nav-link text-white fs-18 lh-26" href="class.html">課程介紹</a>
              </li>
              <li class="nav-item ms-lg-9">
                <a class="nav-link d-flex align-items-center text-white fs-18 lh-26" href="login.html">
                  <span class="material-icons w-24 h-24 me-1">
                    account_circle
                  </span>
                  登入
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <ul class="d-flex">
        <li class="bg-primary border border-2 border-primary w-50"></li>
        <li class="bg-secondary border border-2 border-secondary w-50"></li>
      </ul>
    </header>

    <%- contents %>

    <footer class="bg-dark4 py-lg-5 py-4">
      <div class="container-lg d-flex justify-content-center">
        <p class="fs-lg-6 lh-lg-19 fs-14 lh-14 text-footerText">Coding Home © 2022 All Rights Reserved</p>
      </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>